
.hamburger-menu-link {
    display: none;
    width: 1.5rem;
    height: 1.375rem;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	z-index: 10;
	@include tablets {
		display: flex;
		position: fixed;
		top: 2.1875rem;
		right: 1.25rem; 
	}
}

.hamburger-menu-link__button {
	height: 0.25rem;
	width: 100%;
	background-color: #fff;
	border-radius: 0.25rem; 
}

	.hamburger-menu-link__button:after, .hamburger-menu-link__button::before {
	  content: '';
	  display: block;
	  position: absolute;
	  height: 0.25rem;
	  width: 100%;
	  background-color: #fff;
	  border-radius: 0.25rem; }


	.hamburger-menu-link__button::after {
	  bottom: 0; }
	.hamburger-menu-link__button::before {
	  top: 0; }
	  .hamburger-menu-link--active .hamburger-menu-link__button {
		background-color: transparent; }
	  
	  .hamburger-menu-link--active .hamburger-menu-link__button:before {
		transform: rotate(-45deg);
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		-o-transition: transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		top: .5625rem; }
	  
	  .hamburger-menu-link--active .hamburger-menu-link__button:after {
		transform: rotate(45deg);
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		-o-transition: transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		bottom: .5625rem; }



		.popup-menu {
			position: fixed;
			left: -99999px;
			right: 0;
			background: rgba(47, 50, 52, 0.95);
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			z-index: 5;
			opacity: 0;
			-webkit-transition: opacity .3s;
			-o-transition: opacity .3s;
			transition: opacity .3s;
			text-align: center; }
		  
		  .popup-menu--active {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			opacity: 1;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: 1; }
		  
		  .popup-logo {
			position: absolute;
			left: 1.0625rem;
			top: 0;
			width: 5.75rem;
			height: 4.3125rem;
			margin-top: 0.75rem; }
		  
		  .popup-logo__pic {
			width: 100%;
			height: 100%; }
		  
		  .popup-menu__item:after {
			content: "";
			display: block;
			vertical-align: middle;
			width: 0.4rem;
			height: 0.4rem;
			border-radius: 50%;
			background: white;
			margin: 1.1rem auto; }
			.popup-menu__item:last-child:after {
				display: none; }


			.popup-menu__link {
				display: inline-block;
				font-size: 1.5rem;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				font-family: Ubuntu;
				border-bottom: 2px solid transparent;
				-webkit-transition: .4s;
				-o-transition: .4s;
				transition: .4s;
			}
		  
	  